@model ASPNET.Models.ContactModels
@{ 
    //ViewBag.Title = "Contact Us";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-8">
        <div class="well">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <dl>
                    <dt>
                        @Html.LabelFor(model => model.FirstName, "First Name")
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })                      
                    </dd>
                    <dt>@Html.LabelFor(model => model.LastName, "Last Name")</dt>
                    <dd>@Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })</dd>
                    <dt>
                        @Html.LabelFor(model => model.Email, "Email")
                        @Html.ValidationMessageFor(model => model.Email)
                    </dt>
                    <dd>@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</dd>
                    <dt>
                        @Html.LabelFor(model => model.Comment, "Comment")
                        @Html.ValidationMessageFor(model => model.Comment)
                    </dt>
                    <dd>@Html.TextAreaFor(model => model.Comment, new { @class = "form-control", @rows = "10" })</dd>
                </dl>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="form-control" value="Send" />
                    </div>
                    <div class="col-md-6">
                        <input type="submit" class="form-control" value="Reset" />
                    </div>
                </div>
            }         
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <address>
                123 Street Avenue<br />
                Somewhere, CA X5X 5X5<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>      
    </div>
</div>

@section Scripts
{
    <style type="text/css">
    </style>
    <script type="text/javascript">
        jQuery(function ($) {

        });
    </script>
}










