@model ASPNET.Models.CategoryDeleteViewModel
@{
    ViewBag.Title = "Delete Category";
}


<div class="row">
    <div class='col-sm-12'>
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Administration</a></li>
            <li><a href="/admin/categories">Categories</a></li>
            <li class="active">Delete Category</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="well">
            <!-- Blank Forms Post Back to themselves-->
            @using (Html.BeginForm("CategoryDelete", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                if (!String.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class='alert alert-success' role='alert'>
                        <span class='glyphicon glyphicon-ok' aria-hidden='true'></span>
                        <span class='sr-only'>Success: </span>
                        @ViewBag.Message
                    </div>
                }
                if (!Html.ViewData.ModelState.IsValid)
                {
                    <div class='alert alert-danger' role='alert'>
                        <span class='glyphicon glyphicon-exclamation-sign' aria-hidden='true'></span>
                        <span class='sr-only'>Error:</span>
                        @Html.ValidationSummary("")
                    </div>
                }

                @Html.HiddenFor(m => m.CategoryId)
                <div class="form-group">
                    @Html.LabelFor(m => m.CategoryName, new { @class = "text-left col-md-3 control-label" })
                    <div class="col-md-8">
                        <label class="form-control">@Html.DisplayFor(m => m.CategoryName)</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "text-left col-md-3 control-label" })
                    <div class="col-md-8">
                        <label class="form-control">@Html.DisplayFor(m => m.Description)</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="text-left col-md-3 control-label">Picture</label>
                    <div class="col-md-8">
                        @if (Model.Picture != null)
                        {
                            <img alt="" src="data:image/png;base64,@Html.Encode(System.Convert.ToBase64String(Model.Picture))" style="width:100%;" />
                        }                      
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Delete Category" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-md-4">
        <div class="well">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
            officia deserunt mollitia animi.
        </div>
    </div>

</div>

@section Scripts
{
    <style type="text/css">
    </style>
    <script type="text/javascript">
        jQuery(function ($) {

        });
    </script>
}

