@model ASPNET.Models.ApplicationRole
@{
    ViewBag.Title = "Delete Role";
}


<div class="row">
    <div class='col-sm-12'>
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Administration</a></li>
            <li><a href="/admin/roles">Roles</a></li>
            <li class="active">Delete Role</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="well">
            <!-- Blank Forms Post Back to themselves-->
            @using (Html.BeginForm("RoleDelete", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                if (!String.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class='alert alert-success' role='alert'>
                        <span class='glyphicon glyphicon-ok' aria-hidden='true'></span>
                        <span class='sr-only'>Success: </span>
                        @ViewBag.Message
                    </div>
                }
                if (!Html.ViewData.ModelState.IsValid)
                {
                    <div class='alert alert-danger' role='alert'>
                        <span class='glyphicon glyphicon-exclamation-sign' aria-hidden='true'></span>
                        <span class='sr-only'>Error:</span>
                        @Html.ValidationSummary("")
                    </div>
                }

                @Html.HiddenFor(m => m.Id)
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "text-left col-md-3 control-label" })
                    <div class="col-md-8">
                        <label class="form-control">@Html.DisplayFor(m => m.Name)</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Delete Role" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-md-4">
        <div class="well">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
            officia deserunt mollitia animi.
        </div>
    </div>

</div>

@section Scripts
{
    <style type="text/css">
    </style>
    <script type="text/javascript">
        jQuery(function ($) {

        });
    </script>
}

